body {
    margin: 0;
}

.container {
    padding: 48px 320px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 112px;
}

.firstSection {
    height: 748px;
    width: 100%;
    background-color: #666666;
}

.secondSection {
    padding-top: 48px;
    display: flex;
    gap: 40px;

}

.second_part_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1106px;
    width: 60%;
    background-color: #8ECDE8;
}

.second_part_2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 40px;
}

.first {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.first_1 {
    width: 100%;
    height: 342px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B0E47C;
}

.second {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 342px;
    background-color: #B0E47C;
}

.thirdSection {
    margin-top: 48px;
    background-color: #E9D945;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 96px 110px;
}

.third_1 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 510px;
    width: 100%;
}

.fourthSection{
    margin-top: 48px;
    display: flex;
    gap : 40px
}

.fourth_subSection{
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 324px;
}

.fifthSection{
    margin-top: 48px;
    background-color: #87EBB5;
    height: 106px;
}

/*  - - - - - - - - - - - - - - - - Min Width = 960 & Max Width = 1360 - - - - - - - - - - - - - - - - - */
@media (min-width: 1360px) and (max-width : 1780px) {
    .container {
        padding: 48px 120px;
    }
}

/*  - - - - - - - - - - - - - - - - Min Width = 960 & Max Width = 1360 - - - - - - - - - - - - - - - - - */
@media (min-width: 960px) and (max-width : 1360px) {
    .container {

        padding: 48px 60px;
    }

    .firstSection {
        height: 548px;
    }

    .second_part_1 {
        height: 806px;
    }

    .first_1 {
        height: 242px;
    }

    .second {
        height: 242px;
    }

    .thirdSection {
        padding: 70px 90px;
    }

    .third_1 {
        height: 360px;
        width: 100%;
    }
    
    .fourth_subSection{
        height: 224px;
    }
    
    .fifthSection{
        margin-top: 48px;
        background-color: #87EBB5;
        height: 90px;
    }
}

/*  - - - - - - - - - - - - - - - - Min Width = 768 & Max Width = 960 - - - - - - - - - - - - - - - - - */
@media (min-width: 568px) and (max-width : 960px) {
    .container {
        padding: 24px;
        font-size: 24px;
        line-height: 28px;
    }

    .firstSection {
        height: 300px;
    }

    .secondSection {
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;

    }

    .second_part_1 {
        height: 200px;
        width: 100%;
    }

    .second_part_2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 24px;
    }

    .first {
        width: 66.6664%;
        flex-direction: row;
        gap: 24px;
    }

    .first_1 {
        /* width: 100%; */
        height: 164px;
    }

    .second {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.3334%;
        height: 164px;
    }

    .thirdSection {
        margin-top: 24px;
        padding: 24px 24px;
    }

    .third_1 {
        height: 272px;
    }

    .fourthSection{
        margin-top: 24px;
        gap : 24px
    }
    
    .fourth_subSection{
        height: 152px;
    }
    
    .fifthSection{
        margin-top: 24px;
        height: 54px;
    }

    @media (min-width: 568px) and (max-width : 767px) {
        .firstSection {
            height: 240px;
        }

        .first_1 {
            height: 104px;
        }

        .second {
            height: 104px;
        }

        .thirdSection {
            padding: 24px 24px;
        }

        .third_1 {
            height: 222px;
        }
    }
}

@media (max-width : 568px) {
    .container {
        padding: 16px 16px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }

    .firstSection {
        height: 180px;
    }

    .secondSection {
        padding-top: 16px;
        flex-direction: column;
        gap: 16px;
    }

    .second_part_1 {
        height: 150px;
        width: 100%;
    }

    .second_part_2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 16px;
    }

    .first {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .first_1 {
        width: 50%;
        height: 120px;
    }
    .second {
        height: 120px;
    }

    .thirdSection {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px 16px;
    }
    
    .third_1 {
        height: 168px;
    }

    .fourthSection{
        flex-direction: column;
        margin-top: 16px;
        gap : 16px
    }
    
    .fourth_subSection{
        height: 120px;
    }
    
    .fifthSection{
        margin-top: 16px;
        height: 52px;
    }
}